<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>{{product.name}}</title>
    <link rel="icon" href="{% static 'ico/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}" type="text/css">
</head>
<body>
    <h1>{{product.name}}</h1>
    <img src="{{ product.image }}" class="productImg">
    <p>{{product.description}}</p>
 <div class="grid-container">
    {% for topping in toppings %}
    <div class = "card">
        <h3>{{ topping.name }}</h3>
        <small>{{ topping.price }} </small>
    </div>
    {% endfor %}
    </div>
<form action={% url 'add-cart' product_id=product.id %} >
    <input type="submit" value="Добавить в корзину" class="btn">
<form/>

</body>
</html>