
.top-fone{
position: absolute;
width: 1440px;
height: 249px;
left: 0px;
top: 0px;
background: #593C3C;
}

.lable{
position: absolute;
width: 399px;
height: 58px;
left: 359px;
top: 41px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 58px;
color: #61FF00;

border: 1px solid #000000;
}
.main-button{
position: absolute;
width: 160px;
height: 40px;
left: 178px;
top: 177px;

background: #94B33E;
border-radius: 20px;

width: 60px;
height: 18px;
left: 228px;
top: 188px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #000000;
}
.catalog-button{
position: absolute;
width: 160px;
height: 40px;
left: 449px;
top: 177px;

background: #94B33E;
border-radius: 20px;

position: absolute;
width: 59px;
height: 18px;
left: 499px;
top: 188px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #000000;
}

.button-book{
position: absolute;
width: 160px;
height: 40px;
left: 720px;
top: 177px;

background: #94B33E;
border-radius: 20px;

position: absolute;
width: 80px;
height: 18px;
left: 760px;
top: 188px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #000000;
}
.button-favourites{
position: absolute;
width: 160px;
height: 40px;
left: 991px;
top: 177px;

background: #94B33E;
border-radius: 20px;


position: absolute;
width: 81px;
height: 18px;
left: 1030px;
top: 188px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;

color: #000000;
}


