<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel= "stylesheet" href = "{% static 'css/stylesheet.css' %}" type = "text/css">
</head>
<header class="top-fone">
    <small class="lable">Твоя библиотека</small>
    <form method = "post" action="{% url 'main' %}">
        {% csrf_token %}
        <button class="main-button" type="submit">Главная</button>
    </form>
        <form method = "post" action="{% url 'catalog' %}">
        {% csrf_token %}
        <button class="catalog-button" type="submit">Каталог</button>
    </form>

</header>
<body>
    <img class="img" src="{% static 'img/image 5.png' %}" alt="librali" >
</body>
<footer>
    <div>
    <p> Наш адрес</p>
    <p> О нас</p>
    </div>

</footer>
</html>